body {
  font-family: 'Belleza', sans-serif;
  background-color: #147589;
  background-image: url(/image/cinema.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.title {
  color: #4C7493;
  font-style: oblique;
  font-weight: bold;
}
