{% extends 'base.html.twig' %}

{% block title %}Ciné Passion{% endblock %}

{% block stylesheets %}
  <style>

    .card img{
      width: 250px;

    }

    .page-header{
      color: white;

    }

    .card-title{
      color: #4C7493;
      font-style: oblique;
      font-weight: bold;
    }

    body{
      background-image: url(image/cinema.jpg);
      background-attachment: fixed;
      background-size: cover;
      height: 100%;
    }


  </style>

{% endblock %}

{% block body %}


<div class="container" id="scroll"></div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">

  function showMovies() {

    if (!next) {
      return
    }

    next = false

    $.ajax({
      url: '{{ path('movies_ajax')}}?offset=' + offset + '&' + search,
      context: document.body
    }).done(function(html) {
      offset += limit;
      $( "#scroll" ).append(html);
      next = html.trim()
    });
  }

  const search = window.location.search.substr(1)
  const limit = {{ limit }};
  let offset = 0
  let next = true

  showMovies()
  $(window).scroll(function() {
    if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
        showMovies();
    }
  });

  </script>



{% endblock %}
