{% extends 'admin/base.html.twig' %}


{% block body %}
  <div class="container mt-4">
    <h3>Ajouter un film</h3>
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Titre du film</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter un titre">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Réalisateur</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Réalisateur">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>

{% endblock %}
