{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
<style >

body{
  background-image: url('/image/film.jpg');
  background-attachment: fixed;
  background-size: cover;
  
}

</style>

{% endblock %}


{% block body %}
  <div class="container mt-4">
    <h3>Ajouter un film</h3>
    {{form(form)}}
  </div>


{% endblock %}
